.contact-section {
  background-color: #ffffff;
  padding: 50px;
  color: #000000;
  margin-top: 50px;
}

/*Título*/
.contact-section h1 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

/*Subtítulos*/
.contact-section h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000000;
}

/*Seccion de información*/
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.info-block {
  flex: 1 1 200px;
  min-width: 200px;
}

.info-block p {
  font-size: 0.95rem;
  margin: 0;
  color: #000000;
}

.info-block a {
  color: #000;
  text-decoration: none;
}

.info-block a:hover {
  text-decoration: underline;
}

/*Mapa*/
.map-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden; /*El mapa no sale de los bordes redondeados*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
