<main id="inicio">
  <section class="hero">
    <div class="texto">
      <h2>ADOPTABLES</h2>
      <p>Sí quieres darle una oportunidad a alguno de estos peludos, no dudes en llenar el formulario!</p>
    </div>
    <div class="imagen">
      <img src="assets/images/gato_aruñando.png" alt="Gato-adoptables" />
    </div>
    <div class="wave">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M-2.82,96.33 C152.95,185.21 349.20,8.52 500.00,112.27 L500.00,150.00 L0.00,150.00 Z"></path>
      </svg>
    </div>
  </section>
</main>


<section id="adoptables" class="adoptable">
  <div class="grid-adoptables">
    <article
      class="adopt"
      *ngFor="let a of adoptables"
      (click)="abrirModal(a)">
      <img [src]="a.img" [alt]="a.nombre">
      <h3>{{ a.nombre }} | {{ a.edad }}</h3>
      <button class="info-btn" type="button"
              (click)="abrirModal(a); $event.stopPropagation()">...</button>
    </article>
  </div>

  <!-- Botón solo visible antes de cargar los demás -->
  <div class="ver-mas-wrap">
    <button type="button" class="ver-mas" *ngIf="showVerMas" (click)="verMas()">
      Ver más...
    </button>
  </div>
</section>

<!-- Modal -->
<div class="modal" *ngIf="seleccionado" (click)="cerrarModal()" aria-hidden="{{ !seleccionado }}">
  <div class="modal-contenido" (click)="$event.stopPropagation()">
    <button id="cerrar" aria-label="Cerrar modal" (click)="cerrarModal()">✖</button>
    <h2>{{ seleccionado?.nombre }}</h2>
    <p>{{ seleccionado?.historia }}</p>
  </div>
</div>
