.hero {
  background: #D9D7F1;
  display: flex;
  align-items: center;   /* Centra verticalmente */
  justify-content: center;   
  gap: 220px; /* Reducí el espacio entre texto e imagen */
  padding: 0% 10%;
  position: relative;
  overflow: hidden; 
  height: 400px; 
}
/*Texto*/
.hero .contenido {
  width: 45%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el bloque dentro de su espacio */
}


.hero .contenido h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 15px;
  color: #000000;
  line-height: 1.2;
}

.hero .texto p {
  font-size: 1.1rem;
  color: #000000;
  margin: 0;

}

/*Imagen perro y gato*/
.hero .imagen {
  width: 80%;
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero .imagen img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transform: translateY(-20px);
}

/*Efecto curva*/
.wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
}

.wave svg {
  display: block;
  width: 100%;
  height: 100px;
}

.wave path {
  fill: #ffffff;
  stroke: none;
}

/*Sección de misión y visión*/
.contenedor-info {
  display: flex;
  justify-content: center;   
  gap: 80px;                 
  flex-wrap: wrap;  
  margin: 100px auto 300px auto;
  max-width: 1400px;
  padding: 0 20px;

}

/*Ajuste de las tajetas misión y visión*/
.info {
  flex: 1 1 500px; /*Se adapta al espacio*/
  max-width: 900px;
  background: #e6f3ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info .icon {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.info.mision .icon {
  color: #ffb400;
}

.info.vision .icon {
  color: #3da9fc;
}

/*Texto y titulos*/
.info h2 {
  margin: 10px 0;
  font-weight: 700;
}

.info p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #000000;
}

/*Ajuste del footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
