header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  white-space: nowrap;
}

nav h1 {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #000000;
  padding: 6px 10px;
  display: block;
  transition: color 0.3s, background 0.3s;
}

nav > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

.submenu .submenu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border: 1px solid #ffffff;
  min-width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.submenu.open .submenu-items {
  display: block;
}

.submenu .submenu-items li a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #000000;
  padding: 8px 12px;
  display: block;
  transition: all 0.3s ease;
}

.submenu .submenu-items li a:hover {
  background: #D9EEFF;
  cursor: pointer;
  text-decoration: none;
}

.btn-donar {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 2px;
  color: #000;
  position: relative;
}

.btn-donar i {
  color: #D9EEFF;
  font-size: 0.95rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(13%, -60%);
  z-index: 0;
}

.btn-donar span {
  position: relative;
  z-index: 1;
}

li a i.fa-user {
  cursor: pointer;
  font-size: 1.5rem;
}

/*WEB RESPONSIVA PARA CELULARES 768PX*/
@media (max-width: 768px) {
  /*Muestra el icono en el celular*/
  .menu-icon {
    display: block;
  }

  /*Menú oculto*/
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 1000;
  }

  /*Cuando el icono esta activo se muestra el menu*/
  #menu-toggle:checked ~ ul {
    display: flex;
  }

  nav ul li {
    text-align: left;
    padding: 0.5rem 1rem;
  }
}

/*Evita scroll horizontal*/
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*WEB RESPONSIVA PARA PANATALLAS ENTRE 769px y 1024px*/
@media (max-width: 1024px) and (min-width: 769px) {
  nav {
    padding: 0 1rem;
  }

  nav h1 {
    font-size: 1.2rem;
  }

  nav ul {
    gap: 1rem;
  }

  nav ul li a {
    font-size: 0.95rem;
    padding: 5px 8px;
  }
}

