header {
  background: #ffffff;
  padding: 0.9rem 3rem;
}

/*Navegación menu*/
nav {
  display: flex; /*Organización en fila*/
  justify-content: space-between;
  align-items: center;
}

/*Titulo*/
nav h1 {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

/*Lista del menu*/
nav ul {
  list-style: none; /*Sin viñetas*/
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/*Pocisión del submenu*/
nav ul li {
  position: relative;
}

/*Estilo del menu en general*/
nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 6px 10px;
  display: block;
  transition: background 0.3s;
}

/*Efecto al pasar mouse*/
nav > ul > li > a:hover {
  color: inherit; /*No cambia el color que ya tiene*/
  text-decoration: underline;
  text-decoration-color: #000000;
}

/*Submenu*/
.submenu .submenu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border: 1px solid #ffffff;
  min-width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000; /*Aparece encim de otros elementos*/
}

/*open: muestra submenu*/
.submenu.open .submenu-items {
  display: block;
}

/*Efecto al pasar mouse del submenu*/
.submenu .submenu-items li a:hover {
  background: #D9EEFF;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

/*Donar*/
.btn-donar {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 2px;
  color: #000;
  position: relative;
}

/*Icono corazón*/
.btn-donar i {
  color: #D9EEFF;
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(13%, -60%);
  z-index: 0; /*Corazón detras de la letra*/
}

.btn-donar span {
  position: relative;
  z-index: 1; /*Letra encima de corazón*/
}

/*Icono user*/
li a i.fa-user {
  cursor: pointer;
}
