/*Contenedor principal*/
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.7rem 0 10rem 0;
  text-align: center;
}

.registro h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

/*caja del formulario*/
.Registrar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #FFFAE7;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding: 2.5rem;
  width: 400px;
  min-height: 500px;
  position: relative;
  gap: 2rem;
}

/*Imagen*/
.registro-img img {
  position: absolute;
  right: -420px;
  top: 0;
  width:585px;
  height: auto;
  z-index: 5; 
}

/*Formulario*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center; /*Contenido centrado dentro del form*/
  flex: 1; 
}

/*Inputs*/
form label {
  display: block;
  text-align: left;
  margin: 0.8rem 0 0.3rem;
  font-weight: 500;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 0.5rem;
  outline: none;
  background: transparent;
  font-size: 0.95.rem;
}

form input:focus {
  border-bottom: 2px solid #333;
}

/*Botón*/
.btn-registrar {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 0.95rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-registrar:hover{
  background-color: #000000;
  color: #ffffff; 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);/*Efecto al pasar el raton*/

}

.Login a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.Login a:hover {
  text-decoration: underline;
}

/*Mensaje de errores*/
.mensaje-estado {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #700015;
  text-align: center;
  min-height: 1.2rem;
}

/*WEB RESPONSIVA PARA CELULARES 768PX*/
@media (max-width: 768px) {
   .Registrar {
    flex-direction: column;
    width: 80%;
    min-height: auto;
    padding: 2rem 1.5rem;
  }

  form {
    width: 90%;
  }

  form input {
    width: 100%;
    font-size: 1rem;
  }

  form label {
    font-size: 1.05rem;
  }

  .registro-img {
    display: none;
  }
}

/*WEB RESPONSIVA PARA PANTALLAS ENTRE 769px y 1024px*/
@media (min-width: 769px) and (max-width: 1024px) {
  .Registrar {
    flex-direction: row; 
    width: 80%;
    padding: 2.5rem;
    gap: 2rem;
  }

  .registro-img {
    display: block;
    position: relative;
  }

  .registro-img img {

  display: none;
  }
}
