.hero {
  background: #D9D7F1;
  display: flex;
  align-items: center;
  justify-content: center;   
  gap: 300px; 
  padding: 0% 10%;
  position: relative;
  overflow: hidden; /*Oculta contenido que sobresalga del contenedor*/
  height: 360px; 
}

/*Texto*/
.hero .texto {
  width: 45%;
  text-align: left;
  margin-top: -190px;
}

.hero .texto h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
  color: #000000;
  white-space: nowrap; 
}

.hero .texto p {
  font-size: 1.1rem;
  color: #000000;
  margin: 0;
}

/*Imagen perro y gato*/
.hero .imagen {
  width: 80%;
  transform: scale(1.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .imagen img {
  max-width: 95%;
  height: auto;
  object-fit: contain;
  transform: translateY(-80px);
}

/*Efecto curva*/
.wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
}

.wave svg {
  display: block;
  width: 100%;
  height: 100px;
}

.wave path {
  fill: #ffffff;
  stroke: none;
}

/* Sección proceso adopción */
.procesoadopt {
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #222;
}

.procesoadopt .paso:last-child {
  margin-left: 24rem;
}
.procesoadopt h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.procesoadopt .intro {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #444;
}

/* Cada paso */
.paso {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

/* Íconos */
.paso .icono {
  font-size: 1.8rem;
  color: #000;
  min-width: 40px;
  text-align: center;
}

/* Contenido */
.paso .contenido h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.paso .contenido p {
  background-color: #fef8e7; 
  padding: 1rem;
  border-radius: 0.8rem;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #333;
}